.tooltip_main{
    position: relative;
    display: inline-block;
}

 .tooltip_main a.link_icn{
    color:#767676;
}

*|html[xmlns*=""]  .tooltip_main{display:block;}/*opera*/

 .tooltip{
    position: absolute;
    width: 205px;
    padding: 10px 0 18px 0;
    color: #000000;
    background: #FFFFFF;
    border: 2px #cccccc solid;
    z-index: 100;
}

*|html[xmlns*=""]  .tooltip{width: 215px;}/*opera*/

 .tooltip_top{right: -166px; bottom: 25px;}
 .tooltip_bottom{right: -27px; top: 25px;}

 .tooltip_title{padding: 0 18px 10px 18px; font-size: 16px; line-height: 22px; border-bottom: 1px #cccccc solid;}
 .tooltip_text{padding: 8px 18px 0 18px; font-size: 14px;line-height: 18px;}


/*Corner*/
 .tooltip_corner{position: absolute; width: 27px; height: 11px; font-size:0; background: url(../../i/common/s-31px-hpe.png) no-repeat;}
 .tooltip_top .tooltip_corner,
 .tooltip_top_inline .tooltip_corner{left: 20px; bottom: -9px; background-position: -1px -842px;}
 .tooltip_bottom .tooltip_corner,
 .tooltip_bottom_inline .tooltip_corner{right: 20px; top: -9px; background-position: -1px -875px;}



 .inline{
    position: relative;
    padding-right: 0;
    color:#000000;
    background-image: none;
    border-bottom: 1px #0096D6 dotted;
}

 .inline:hover{
    text-decoration: none;
}

 .tooltip_top_inline{left: 0; bottom: 25px;}
 .tooltip_bottom_inline{right: 0; top: 25px;}

 .line-text{
    font-size: 14px;
}