.tooltip{
    width: 203px;
    _width: 205px;
}

.tooltip_keeper{
    padding-right: 21px;
}

.inline{
    padding-right: 1px;
    display: inline-block;
    *top: 1px
}

* html .tooltip_top .tooltip_corner{bottom: -10px;}
* html .tooltip_top_inline .tooltip_corner{bottom: -10px;}


.tooltip_corner{background-image: url(../../i/common/s-31px-ie6-hpe.gif)}
.tooltip_top{right: -165px; _right: -164px;}
.tooltip_bottom{_right: -28px;}